@import "global-styles.less";
@import "fonts.less";

html, body { height:100%; width:100%; }
#App{ .flxRow; .flx1;}

// Styles
@pink: #FF2D9C;
@black:#000;
.pgs{ font-family: 'Public Gothic Square'; }
.circular{ font-family: 'Circular'; }
.t2{ .fs(24px); font-weight:600; .circular; }

.bkg{ background-repeat:no-repeat; background-position:center center;}
.icon{ @size:24px; width:@size; height:@size; .bkg; }

	a{ color:@black; .block;
		&:hover{ .op(.5); }
	}


// Structure ------------

.banner{ width:40%; max-width:560px; height:100%; .rel;
	.inner{ width:inherit; height:100%; .fixed; .flxCol; .flx; .jcc; .aic; background:url('/images/stripes.jpg') no-repeat center center; background-size:cover; }
	.onigiri{ width:260px; height:260px; background-image:url('/images/onigiri.png'); .bkg; background-size:contain; }
	//.title{ .circular; .fs(90px, 70px); .pgs; color:black; .upcase; .tac; .textStroke(2px, white); }
}

.spacer{ width:10%; max-width:50px; }

.contents{ .flxCol; .flx1; padding:24px 32px 40px 24px; }

	header{
		h1{ margin:0; .fs(90px); .pgs; color:black; .upcase; }
		h2{ margin:0; .fs(44px);  color: @pink; font-weight:600; }
	}

	.onigiris{ max-width:570px; margin:24px -15px 0; .flxRow; .flxWrap;

		.onigiri{ @size:150px; width:@size; .flxCol; .aic; .jcfs; margin:15px; .rel; cursor:default;
			.img{ width:@size; height:@size; }
				.open{ .abs; left:0; top:0; visibility:hidden; }
			.name{ .flx; .jcc; .aic; .t2; .tac; margin-top:12px; }
			&:hover{
				.open{ visibility: visible; }

			}
		}
	}


	.info{ margin-top:36px;
		.col{ width:80px; }
		h3{ margin:12px 0; .t2; }

		.calendar{ margin-right:12px; background-image:url('/images/calendar.png'); .bkg; .contain; }
		.time{ margin-right:12px; background-image:url('/images/time.png'); .bkg; .contain; }
		.location{ margin-right:12px; background-image:url('/images/location.png'); .bkg; .contain; }


	}


	footer{ margin-top:36px; .t2; }
		.social{ .flxRow; .aic;
			@size:40px;
			.instagram{ .size(@size); margin-right:24px; background-image:url('/images/instagram.png'); .bkg; .contain; }
			.facebook{ .size(@size); margin-right:24px; background-image:url('/images/facebook.png'); .bkg; .contain; }
			.mail{ margin-right:4px; background-image:url('/images/mail.png'); .bkg; .contain; }
		}


// Media queries
@media only screen
and (max-width : 900px) {
	#App{ .flxCol; }
	.banner{ width:100%; max-width:100%; height:400px;
		.inner{ .rel; }
	}
	.spacer{ .hide; }
	.onigiris{ .jcsa; }

}
@media only screen
and (max-width : 480px) {
	.banner{ height:280px;
		.onigiri{ height:150px; }
	}
	header{
		h1{ margin:0; .fs(63px); .pgs; color:black; .upcase; }
		h2{ margin:0; .fs(28px);  color: @pink; font-weight:600; }
	}
}
